#GitHub-tutorial {
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  background: #e1ffc5;
  color: #000;
  font: 20px Arial;
  text-align: center;
}
#GitHub-tutorial span {
  display: block;
  font: 12px calibri;
}
